<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border border-bottom">
  <a class="navbar-brand" href="root_path">
    <img src="http://www.clker.com/cliparts/T/i/b/P/e/R/tree-md.png" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <p class="nav-link text-decoration-none"><%= link_to "Home", root_path %></p>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <p class="dropdown-item" href="#"><%= link_to "My account", my_account_path %></p>
          <p class="dropdown-item" href="#"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>
        </div>
      </li>
    </ul>
  </div>
</div>
