<h1>Welcome at Gardens in the Walls</h1>
<ul>
  <li><%= link_to "My account", my_account_path %></li>
  <li><%= link_to "Garden Research", edit_place_path(@user) %></li>
  <li><%= link_to "Change my identifiers", edit_user_registration_path %></li>
</ul>
