<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://frarborists.com/dev/wp-content/uploads/shutterstock_126246674.jpg">
  <div class="row justify-content-center w-100">
    <h1>Welcome at <br/>Gardens in the Walls</h1>
  </div>
  <div class="row banner-menu w-100">
        <%= link_to "My account", my_account_path %>
        <%= link_to "Go picking", edit_place_and_radius_path(@user) %>
  </div>
</div>
