.index-cards-container{
  margin-top: 10px;
  min-height: 200px;
  color: white;
  font-weight: bold;
}


.container{
  min-height: 80vh;
  display: flex;
}

.index-title-row{
  padding-left: 15px;
}

.index-container{
  width: 70%;
}
