// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "card";
@import "container";
@import "button";

body{
  min-height: 100vh;
  color: rgb(87, 83, 82);
  background-color: white;
}

a{
  text-decoration: none;
}
