<h1>edit place</h1>
<%= simple_form_for @user, url: update_place_and_radius_path, html: { method: :patch } do |f|
 %>
<%= f.input :address %>
<%= f.input :search_radius %>
<%= f.submit "Look around my location" %>
<% end %>
